<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{!-- <title>Invitation Email</title> --}}
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .card {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="card">
        <p>Please click the button to Accept Invitation.</p>
        <a href="{{link}}" class="button">Accept</a>
    </div>
</body>
</html>
